useDynLib(R4dfp)

export(
  R4dfp.Close,
  R4dfp.Load,
  R4dfp.Save,
  R4dfp.Recycle,
  R4dfp.Copy,
  R4dfp.Blank,
  R4dfp.Blank333,
  R4dfp.Blank111,
  is.4dfp,
  R4dfp.Print,
  R4dfp.VoxelToCoord,
  R4dfp.CoordToVoxel)

S3method('[',R4dfp)
S3method('[<-',R4dfp)
S3method('[[',R4dfp)
S3method('[[<-',R4dfp)
S3method('$',R4dfp)
S3method('$<-',R4dfp)
